<a href="https://colab.research.google.com/github/Amou-12/git-react-workshop/blob/main/Introduction_to_data_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Excirse 1
#List Operations Create a list of your favorite fruits and perform the following operations:
fruits = ["Mangoes", "Bananas", "Strawberries", "Apples"]
#Add a new fruit to the list.
fruits.append ("Grape")
#Remove a fruit from the list.
fruits.remove("Bananas")
#Sort the list alphabetically.
fruits.sort()

#Print the first and last fruit in the list.
print("First fruit:", fruits[0])
print("Last fruit:", fruits[-1])

#print the full list
print("Sorted list of fruits ", fruits)


#Exercise 2: Tuple Operations Create a tuple with five different numbers and perform the following operations:
numbers = [2,4,7,8,1]

#Access the second and fourth elements.
print("Second element",numbers[1])
print("Fouth element", numbers[3])
#Create a new tuple by adding an element to the original tuple.
numberNew= [9,0,6]
numbers.append(numberNew)
#Count the occurrences of a specific number in the tuple.
count_30 = numbers.count(30)
print("Occurrences of 30:", count_30)

#Exercise 3
#Set Operations Create two sets with some common and some unique elements. Perform the following operations:
set1 = {"apple", "banana", "cherry", "mango"}
set2 = {"banana", "mango", "grape", "orange"}
#Find the union of the sets.
union_set = set1.union(set2)
print("Union:", union_set)
#Find the intersection of the sets.
intersection_set = set1.intersection(set2)
print("Intersection:", intersection_set)
#Find the difference between the sets.
difference_set = set1.difference(set2)
print("Difference (set1 - set2):", difference_set)
#Find the symmetric difference between the sets.
symmetric_difference_set = set1.symmetric_difference(set2)
print("Symmetric Difference:", symmetric_difference_set)

#Excercise 4
#Dictionary Operations Create a dictionary with information about a book (title, author, year). Perform the following operations:
book = {
    "title": "To Kill a Mockingbird",
    "author": "Harper Lee",
    "year": 1960
}
#Add a new key-value pair for the genre.
book["genre"] = "Fiction"
#Update the year of publication.
book["year"] = 2020
#Remove the author from the dictionary.
del book["author"]
#Print all the keys and values in the dictionary.
print("Book information:")
for key, value in book.items():
    print(f"{key}: {value}")

#Excercise : Slicing and Indexing Given a list of numbers from 1 to 20, perform the following operations:
numbers = list(range(1, 21))
#Print the first five elements.
print("First five elements:", numbers[:5])

#Print the last five elements.
print("Last five elements:", numbers[-5:])

#Print every second element.
print("Every second element:", numbers[::2])


#Print the list in reverse order.
print("Reversed list:", numbers[::-1])

First fruit: Apples
Last fruit: Strawberries
Sorted list of fruits  ['Apples', 'Grape', 'Mangoes', 'Strawberries']
Second element 4
Fouth element 8
Occurrences of 30: 0
Union: {'cherry', 'grape', 'mango', 'apple', 'banana', 'orange'}
Intersection: {'mango', 'banana'}
Difference (set1 - set2): {'cherry', 'apple'}
Symmetric Difference: {'cherry', 'grape', 'apple', 'orange'}
Book information:
title: To Kill a Mockingbird
year: 2020
genre: Fiction
First five elements: [1, 2, 3, 4, 5]
Last five elements: [16, 17, 18, 19, 20]
Every second element: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
Reversed list: [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]